# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
.idea/

# NetBeans project files
nbproject/
build/
dist/
nbdist/

# Maven target directory
target/

# Gradle build directories
build/
.gradle

# Mac .DS_Store files
.DS_Store

# Thumbs.db
Thumbs.db

bin/*


/application.properties.back
/application.properties.dev

/application-dev.properties
