<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fragment: Bulk Update</title>
</head>

<body>
	<div th:fragment="bill-list" class="container my-3">
		<h1>Bills</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>No Facture</th>
					<th>Description</th>
					<th>Total</th>
					<th>Tps</th>
					<th>Tvq</th>
					<th>Origin</th>
					<th>Recipient</th>
					<th>Date</th>
					<th>Attachments</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bill : ${bills}">
					<td th:text="${bill.id}"></td>
					<td>
						<span th:id="'nofac-'+${bill.id}" contenteditable="true" th:text="${bill.noFacture}"></span>
					</td>
					<td>
						<textarea th:id="'description-'+${bill.id}" contenteditable="true"
							th:text="${bill.description}"></textarea>
					</td>
					<td>
						<span th:id="'amount-'+${bill.id}" contenteditable="true" th:text="${bill.amount}"></span>
					</td>
					<td>
						<span th:id="'tps-'+${bill.id}" contenteditable="true" th:text="${bill.tps}"></span>
					</td>
					<td>
						<span th:id="'tvq-'+${bill.id}" contenteditable="true" th:text="${bill.tvq}"></span>
					</td>
					<td>
						<span th:id="'origin-'+${bill.id}" contenteditable="true" th:text="${bill.origine}"></span>
					</td>
					<td>
						<span th:id="'recipient-'+${bill.id}" contenteditable="true" th:text="${bill.recipient}"></span>
					</td>
					<td>
						<input type="date" th:id="'date-'+${bill.id}"
							th:value="${#dates.format(bill.date, 'yyyy-MM-dd')}" />
					</td>
					<td>
						<div th:each="attachment : ${bill.attachments}">
							<button class="btn btn-primary" th:onclick="'showPreview(' + ${attachment.id} + ')'">Preview
								PDF</button>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-link" data-toggle="modal" data-target="#uploadModal"
							th:onclick="'openModal(' + ${bill.id} + ')'">
							<i class="fa fa-upload"></i> <!-- Icon for uploading -->
						</button>
					</td>
					<td>
						<button th:onclick="'editBill(' + ${bill.id} + ')'">Edit</button>
						<button th:onclick="'saveBill(' + ${bill.id} + ')'">Save</button>
						<button th:onclick="'deleteBill(' + ${bill.id} + ')'"><i class="fa fa-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>