<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Assets</title>
	<!-- include Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/accounting-table.css" />
</head>

<body>
	<header th:replace="~{fragments/header :: header}"></header>
	<div class="container-fluid">
		<!-- Left Side Menu -->
		<div class="row">
			<div th:replace="~{fragments/sidebar :: sidebar}"></div>
			<div class="col-md-10">

				<form id="editExpenseForm">
					<div class="form-group">
						<label for="id">ID:</label>
						<input type="text" id="id" name="id" th:value="${expense.id}" class="form-control" readonly />
					</div>
					<div class="form-group">
						<label for="date">Date:</label>
						<input type="date" id="date" name="date" th:value="${#dates.format(expense.date, 'yyyy-MM-dd')}"
							class="form-control" required />
					</div>
					<div class="form-group">
						<label for="expenseType">Expense Type:</label>
						<select id="expenseType" name="expenseType" class="form-control" required>
							<option
								th:each="type : ${T(com.example.springboot.accounting.model.ExploitationExpenseType).values()}"
								th:value="${type}" th:selected="${type == expense.expenseType}" th:text="${type}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<label for="description">Description:</label>
						<input type="text" id="description" name="description" th:value="${expense.description}"
							class="form-control" required />
					</div>
					<div class="form-group">
						<label for="tbst">Total Before Sales Tax:</label>
						<input type="number" id="totalBeforeSalesTaxes" name="totalBeforeSalesTaxes"
							th:value="${expense.totalBeforeSalesTaxes}" class="form-control" required />
					</div>
					<div class="form-group">
						<label for="st">Tps:</label>
						<input type="number" id="tps" name="tps" th:value="${expense.tps}" class="form-control"
							step="0.01" required />
					</div>
					<div class="form-group">
						<label for="tvq">Tvq:</label>
						<input type="number" id="tvq" name="tvq" th:value="${expense.tvq}" class="form-control"
							step="0.01" required />
					</div>
					<div class="form-group">
						<label for="amount">Total Before Sales Taxes:</label>
						<input type="number" id="amount" name="amount" th:value="${expense.totalBeforeSalesTaxes}"
							class="form-control" step="0.01" required />
					</div>
					<div class="form-group">
						<label for="invoices">Select Invoice:</label>
						<select class="form-control" id="invoices" name="invoices">
							<!-- Option values will be filled dynamically -->
						</select>
					</div>

					<button type="submit" class="btn btn-primary">Save Changes</button>

				</form>
				<div class="container my-3">
					<h2 class="text-center">Transaction Details</h2>
					<div style="max-height: 200px; overflow-y: auto;"> <!-- Add scrollable div -->
						<div th:insert="~{fragments/transactionFragment :: transactionDetails(${expense.transaction})}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>