<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Accounting Ledger</title>
	<!-- Add any additional styles or scripts you need -->
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.13.5/css/jquery.dataTables.min.css" />
</head>

<body>
	<header th:replace="fragments/header :: header"></header>
	<div class="container">
		<h2>Accounting Ledger</h2>
        <button id="callApiButton">Call API</button>
		<table id="ledger-table" border="1" class="table table-striped" style="width:100%">
			<thead>
				<tr>
					<th name="date">Date</th>
					<th>Account Type</th>
					<th>Memo</th>
					<th>GL Account Name</th>
					<th>GL Account #</th>
					<th>Vendor/Client</th>
					<th style="width:50px;">Debit</th>
					<th style="width:50px;">Credit</th>
					<th>Balence</th>
					<th>Actual Balence</th>
				</tr>
			</thead>
			<tbody>
				<!-- Assuming you pass a list of entries named 'ledgerEntries' -->
				<tr th:each="entry : ${ledgerEntries}">				
					<td th:text="${entry.getUnixTime()}"></td>
					<td th:text="${entry.accountType}"></td>
					<td th:text="${entry.message}"></td>
					<td th:text="${entry.glAccountName}"></td>
					<td th:text="${entry.glAccountNumber}"></td>
					<td th:text="${entry.vendorOrClient}"></td>
					<td th:text="${entry.debit}"></td>
					<td th:text="${entry.credit}"></td>
					<td th:text="${entry.balence}"></td>
					<td th:text="${entry.abalence}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script src="/webjars/datatables/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="/js/ledger.js"></script>

<script>
document.getElementById("callApiButton").addEventListener("click", function() {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/api/ledger/populate", true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200)
          alert("API called successfully");
      };
      xhr.send();
    });
  </script>
</html>